.verifikasi-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 255, 214, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.verifikasi-popup-inner {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  background: #ffcc15;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 600px;
  height: 300px;
}

.verifikasi-popup-inner h2 {
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
}

.verifikasi-popup-inner .buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 30px;
}

.verifikasi-popup-inner .buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.verifikasi-popup-inner .buttons button:first-child {
  background-color: #ffffff;
  color: #ffcc15;
}

.verifikasi-popup-inner .buttons button:last-child {
  background-color: #ffffff;
  color: #ffcc15;
}
